{% extends 'Base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}
    Profile Update Form
{% endblock %}
{% block body %}
    <style>
        .form-full-div {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .form-div {
            margin-top: 30px;
            padding: 40px;
            border-radius: 10px;
            -webkit-box-shadow: 0 0 20px #1d1e1f;
            background-color: rgba(38, 38, 24, 0.15);
        }

        legend {
            font-size: 30px;
            font-family: 'Josefin Sans', sans-serif;
        }
    </style>
    <div class="container form-full-div">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 form-div">
                <form method="post" class="form-group" enctype="multipart/form-data">
                    {% csrf_token %}
                    <legend>Profile Update</legend>
                    <fieldset class="form-group">
                        {{ form1|crispy }}
                        {{ form2|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
{% endblock %}