{% extends 'Base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}
    {{ user.first_name }} {{ user.last_name }}
{% endblock %}
{% block body %}
    <style>

        .card img {
            height: 320px;
            width: 100%;
        }

        .breadcrumb {
            background-color: #E9ECEF;
            border-radius: 5px;
            list-style: outside none none;
            margin: 0 15px;
            text-align: right;
            padding: 0 0 0 10px;
        }

        .breadcrumb li a {
            color: #a3a5a8 !important;
        }

        .profile-div {
            margin-top: 30px !important;
        }

        .profile_info {
            margin: 50px 0 !important;
        }

        .profile_info .col-lg-5 img {
            height: 400px;
            width: 300px;
        }

        .Mail-phone-etc {
            margin: 70px 0 !important;
        }

        .email {
            margin-top: 20px;
            font-size: 20px;
            font-weight: 500;
        }

        .email a {
            color: #000000 !important;
            text-decoration: none;
        }

        .email a:hover {
            color: #319c92 !important;
            text-decoration: none;
        }

        .email:hover {
            color: #319c92 !important;
            text-decoration: none;
        }

        {#<!---- Phone ----->#}
        .phone {
            margin-top: 20px;
            font-size: 20px;
            font-weight: 500;
        }

        .phone a {
            color: #000000 !important;
            text-decoration: none;
        }

        .phone a:hover {
            color: #319c92 !important;
            text-decoration: none;
        }

        .phone:hover {
            color: #319c92 !important;
            text-decoration: none;
        }

        #article-container {
            margin-top: 100px !important;
            margin-bottom: 50px;
        }

        #article-container .row .col-md-3 {
            padding: 30px;
        }

        #article-container .row .col-md-3 img {
            width: 100%;
            height: 200px;
        }

        #view_btn {
            background: #0b9aac !important;
            color: #ffffff !important;
        }

        #edit_btn {
            background: rgba(132, 93, 0, 0.89) !important;
            color: #ffffff !important;
        }

        #delete_btn {
            background: #ff3838 !important;
            color: #ffffff !important;
        }

        .modal #article-container {
            text-align: left !important;
        }

        .modal #article-container img{
            height: auto !important;
            width: 60% !important;
            transition: width 1s, height 1s;
            border-radius: 5px;
        }

        .modal #article-container img:hover {
            height: auto !important;
            width: 660px !important;
            transition: width 1s, height 1s;
            border-radius: 5px;
        }
    </style>
    <div class="container profile-div">
        <ol class="breadcrumb hidden-xs-down">
            <li class="breadcrumb-item"><a href="{% url 'App_Blog:home' %}">Home</a></li>
            <li class="breadcrumb-item active"><a href="#">Profile</a></li>
        </ol>
        <div class="row profile_info">
            <div class="col-lg-1"></div>
            <div class="col-lg-6">
                <h3>{{ user.first_name }} {{ user.last_name }}
                    <small style="color: #a3a5a8; font-size: 18px;">(@{{ user.username }})</small>
                </h3>
                <div class="Mail-phone-etc">
                    <p class="email"><a href="#">Email:</a> {{ user.email }}</p>
                    <p class="phone"><a href="#">Phone:</a> {{ user.phone_number }}</p>
                    <p class="phone"><a href="#">Address:</a> {{ user.Address }}</p>
                </div>
                <p class="phone">
                    <a href="{{ facebook }}" target="_blank">
                        <img src="{% static 'images/facebook(1).png' %}" alt="Facebook" width="25" height="25">
                    </a> &nbsp; &nbsp;
                    <a href="{{ user.email }}" target="_blank">
                        <img src="{% static 'images/gmail.png' %}" alt="Gmail" width="25" height="25">
                    </a> &nbsp; &nbsp;
                    <a href="{{ user.phone_number }}" target="_blank">
                        <img src="{% static 'images/telephone.png' %}" alt="Telephone" width="25" height="25">
                    </a> &nbsp; &nbsp;
                    <a href="{{ linkedIn }}" target="_blank">
                        <img src="{% static 'images/linkedin.png' %}" alt="LinkedIn" width="25" height="25">
                    </a>
                </p>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <img src="{{ user.photo.url }}" alt="My Photo" style="width: 350px; height: 380px;">
            </div>
        </div>
    </div>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}

        {% endif %}
    </div>
    <div class="container" id="article-container">
            <div class="row">
                {% for article in articles %}
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card">
                            <img src="{{ article.header_image.url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ article.blog_title }}</h5>
                                <p> Status:
                                    {% if article.approval %}
                                        <small class="text-success">Approved</small>
                                    {% else %}
                                        <small class="text-danger">Pending</small>
                                    {% endif %}
                                </p>
                                <div style="text-align: center;">
                                    <a href="{% url 'App_Blog:blog-details' slug=article.slug %}" class="btn"
                                       id="view_btn" data-toggle="modal" data-target="#exampleModal{{ article.id }}">
                                        View
                                    </a> &nbsp; &nbsp;
                                    <a href="{% url 'App_Blog:blog-update' slug=article.slug %}" class="btn"
                                       id="edit_btn">
                                        Edit
                                    </a> &nbsp; &nbsp;
                                    <a href="{% url 'App_Blog:delete-blog' slug=article.slug %}" class="btn"
                                       id="delete_btn">
                                        Delete
                                    </a>
                                    <!----- Modal ----->
                                    <div class="modal fade" id="exampleModal{{ article.id }}" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title"
                                                        id="exampleModalLabel">{{ article.blog_title }}</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <img src="{{ article.header_image.url }}" alt="Header Image"
                                                         style="width: 70%; height: auto">
                                                    <div id="article-container">
                                                        {{ article.blog_content|safe|linebreaks }}
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}

