{% load static %}
<div class="container-fluid">
    <div class="masonry-blog clearfix">
        <div class="first-slot">
            <div class="masonry-box post-media">
                <img src="{% static 'images/promotional/3 (1).jpg' %}" alt="promotional"
                     class="img-fluid" style="height: 375px !important;">
                <div class="shadoweffect">
                    <div class="shadow-desc">
                        <div class="blog-meta">
                            <p style="color: #ffffff">Restaurant</p>
                        </div><!-- end meta -->
                    </div><!-- end shadow-desc -->
                </div><!-- end shadow -->
            </div><!-- end post-media -->
        </div><!-- end first-side -->

        <div class="second-slot">
            <div class="masonry-box post-media">
                <img src="{% static 'images/promotional/1 (1).jpg' %}" alt="promotional"
                     class="img-fluid" style="width: 328px; height: 375px;">
                <div class="shadoweffect">
                    <div class="shadow-desc">
                        <div class="blog-meta">
                        </div><!-- end meta -->
                    </div><!-- end shadow-desc -->
                </div><!-- end shadow -->
            </div><!-- end post-media -->
        </div><!-- end second-side -->

        <div class="last-slot">
            <div class="masonry-box post-media">
                <img src="{% static 'images/promotional/2 (1).jpg' %}" alt="promotional"
                     class="img-fluid" style="width: 328px; height: 375px;">
                <div class="shadoweffect">
                    <div class="shadow-desc">
                        <div class="blog-meta">
                        </div><!-- end meta -->
                    </div><!-- end shadow-desc -->
                </div><!-- end shadow -->
            </div><!-- end post-media -->
        </div><!-- end second-side -->
    </div><!-- end masonry -->
</div>