<div class="container" data-behaviour="search-on-list">
    <input type="text" class="input-query" data-search-on-list="search" placeholder="Search for a company..."/>
    <span class="counter" data-search-on-list="counter"></span>
    <div class="list-wrap">
        <ul class="list" data-search-on-list="list">
            <li class="list-item" data-search-on-list="list-item">
                <a href="" class="list-item-link">Next <span class="item-list-subtext">Leave</span></a>
            </li>
            <li class="list-item" data-search-on-list="list-item">
                <a href="" class="list-item-link">M&S <span class="item-list-subtext">Remain</span></a>
            </li>
            <li class="list-item" data-search-on-list="list-item">
                <a href="" class="list-item-link">Reebok<span class="item-list-subtext">Leave</span></a>
            </li>
            <li class="list-item" data-search-on-list="list-item">
                <a href="" class="list-item-link">Easyjet <span class="item-list-subtext">Remain</span></a>
            </li>
            <li class="list-item" data-search-on-list="list-item">
                <a href="" class="list-item-link">Superdrug <span class="item-list-subtext">Leave</span></a>
            </li>
            <li class="list-item" data-search-on-list="list-item">
                <a href="" class="list-item-link">Patisserie Valerie <span class="item-list-subtext">Leave</span></a>
            </li>
            <li class="list-item" data-search-on-list="list-item">
                <a href="" class="list-item-link">Gorkana <span class="item-list-subtext">Leave</span></a>
            </li>
            <li class="list-item" data-search-on-list="list-item">
                <a href="" class="list-item-link">Heal's <span class="item-list-subtext">Leave </span></a>
            </li>
            <li class="list-item" data-search-on-list="list-item">
                <a href="" class="list-item-link">Compass Travel <span class="item-list-subtext">Leave</span></a>
            </li>
            <li class="list-item" data-search-on-list="list-item">
                <a href="" class="list-item-link">Zenith <span class="item-list-subtext">Leave</span></a>
            </li>
            <li class="list-item" data-search-on-list="list-item">
                <a href="" class="list-item-link">Cox & Kings Travel <span class="item-list-subtext">Leave</span></a>
            </li>
            <li class="list-item" data-search-on-list="list-item">
                <a href="" class="list-item-link">Hiscox<span class="item-list-subtext">Leave</span></a>
            </li>
            <li class="list-item" data-search-on-list="list-item">
                <a href="" class="list-item-link">Curzon PR<span class="item-list-subtext">Leave</span></a>
            </li>
            <li class="list-item" data-search-on-list="list-item">
                <a href="" class="list-item-link">Bridgeman Art Library <span class="item-list-subtext">Leave</span></a>
            </li>
            <li class="list-item" data-search-on-list="list-item">
                <a href="" class="list-item-link">Toyota UK <span class="item-list-subtext">Remain</span></a>
            </li>
            <li class="list-item" data-search-on-list="list-item">
                <a href="" class="list-item-link">Goodfellas Bars<span class="item-list-subtext">Leave</span></a>
            </li>
            <li class="list-item" data-search-on-list="list-item">
                <a href="" class="list-item-link">Wetherspoons<span class="item-list-subtext">Leave</span></a>
            </li>
            <li class="list-item" data-search-on-list="list-item">
                <a href="" class="list-item-link">Jaguar Land Rover<span class="item-list-subtext">Remain</span></a>
            </li>
            <li class="list-item" data-search-on-list="list-item">
                <a href="" class="list-item-link">GKN<span class="item-list-subtext">Remain</span></a>
            </li>
            <li class="list-item" data-search-on-list="list-item">
                <a href="" class="list-item-link">Magal Engineering<span class="item-list-subtext">Remain</span></a>
            </li>
            list="list-item">
            <a href="" class="list-item-link">Magal Engineering<span class="item-list-subtext">Remain</span></a>
            </li>
        </ul>
    </div>
</div>